<header title="Conta"></header>

<ion-content>
    <ion-item style="margin-top: 15%;">
        <ion-avatar slot="start">
            <img [src]="urlAvatar">
        </ion-avatar>
        <ion-label>
            <h2>Alexa</h2>
            <p>alexa.glinsoo@gmail</p>
        </ion-label>
    </ion-item>

    <ion-button expand="block" class="button" color="tertiary" fill="outline">Mudar senha</ion-button>
    <ion-button expand="block" class="button" color="danger" fill="outline">Sair</ion-button>
</ion-content>