<header title="Conta"></header>

<ion-content>
    <ion-list>
        <ion-item style="margin-top: 15%;">
            <ion-avatar slot="start">
                <img [src]="urlAvatar">
            </ion-avatar>
            <ion-label>
                <h2>Alexa</h2>
                <p>alexa.glinsoo@gmail</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-button expand="block">A block button</ion-button>
        </ion-item>
        <ion-item>
            <ion-button expand="block">A block button</ion-button>
        </ion-item>
    </ion-list>
</ion-content>