<header title="Conta"></header>

<ion-content>
    <ion-item style="margin-top: 15%;">
        <ion-avatar slot="start">
            <img [src]="user.photo" >
        </ion-avatar>
        <ion-label>
            <h2>{{user.name}}</h2>
            <p>{{user.email}}</p>
        </ion-label>
    </ion-item>
    <ion-button expand="block" class="button" color="tertiary tint" (click)="alertConfirmDownload()">
        <ion-row>
            <ion-col width-90>Baixar todas as fotos</ion-col>
            <ion-col width-10>
                <ion-icon name="cloud-download-outline"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-button>
    <!--<ion-button expand="block" class="button" color="tertiary" fill="outline" (click)="alertPassword()">
        <ion-row>
            <ion-col width-90>Mudar senha</ion-col>
            <ion-col width-10>
                <ion-icon name="key-outline"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-button>-->
    <ion-button expand="block" class="button" color="danger" fill="outline" (click)="alertConfirmLogout()"
        routerLinkActive="router-link-active">
        <ion-row>
            <ion-col width-90>Sair</ion-col>
            <ion-col width-10>
                <ion-icon name="log-out-outline"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-button>
</ion-content>