<ion-header translucent>
  <ion-toolbar>
    <ion-title>Detalhe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="urlAvatar">
    </ion-avatar>
    <ion-label>
      <h2>{{message.user.name}}</h2>
      <p>{{message.date}}</p>
    </ion-label>
  </ion-item>
  <p>{{message.message}}</p>
  <ion-button expand="block" class="buttonApagar" color="danger" (click)="alertConfirmDelete()">
    <ion-row>
      <ion-col width-90>Apagar</ion-col>
      <ion-col width-10>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-button>
</ion-content>