<ion-header translucent>
  <ion-toolbar>
    <ion-title>Detalhe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="urlAvatar">
    </ion-avatar>
    <ion-label>
      <h2>Alexa</h2>
      <p>26/03/2020</p>
    </ion-label>
  </ion-item>   
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur tempus condimentum. Sed ultrices nisi id sodales convallis. Curabitur venenatis lectus a massa scelerisque accumsan sed ac ex. Donec volutpat elementum diam, in dapibus nulla dictum et. Suspendisse a consectetur nulla.</p>

  <ion-button expand="block" class="buttonApagar" color="danger">Apagar</ion-button>
</ion-content>