<ion-content>
  <ion-img [src]="img"></ion-img>
  <form style="margin-top: 15%;">
    <ion-item>
      <ion-label>Login</ion-label>
      <ion-input name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" name="password"></ion-input>
    </ion-item>
    <div class="ion-text-center" style="margin-top: 15%;">
      <ion-button type="submit" color="tertiary tint" [routerLink]="['/tabs/photo']" routerLinkActive="router-link-active" >Iniciar Sessão</ion-button>
    </div>
  </form>
</ion-content>