<ion-content>
  <ion-img [src]="img"></ion-img>
  <form style="margin-top: 15%;">
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <div class="ion-text-center" style="margin-top: 15%;">
      <ion-button expand="block" class="button" color="tertiary tint" (click)="login()">
        <ion-row>
          <ion-col width-90>Iniciar Sessão</ion-col>
          <ion-col width-10>
            <ion-icon name="log-in-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-button>
      <ion-button expand="block" class="button" color="tertiary" fill="outline" (click)="alertPassword()">
        <ion-row>
          <ion-col width-90>Esqueci minha senha
          </ion-col>
          <ion-col width-10>
            <ion-icon name="key-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-button>
    </div>
  </form>
</ion-content>