<ion-header translucent>
  <ion-toolbar>
    <ion-title>Detalhe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <img [src]="photo.url" class="image"/>
      <ion-card-subtitle>{{photo.description}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="end">
          <img [src]="photo.user.photo" >
        </ion-avatar>
        <ion-label>{{photo.date}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="button" color="tertiary" (click)="alertConfirmDonwload()">
    <ion-row>
      <ion-col width-90>Baixar foto</ion-col>
      <ion-col width-10>
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-button>
  <ion-button expand="block" class="buttonApagar" color="danger" (click)="alertConfirmDelete()">
    <ion-row>
      <ion-col width-90>Apagar</ion-col>
      <ion-col width-10>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-button>

</ion-content>